body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  text-align: center; /* Center align all block-level elements */
}

p, img {
  display: block; /* Make paragraphs and images block-level elements */
  margin: 0 auto; /* Center horizontally */
  font-weight: 200;
}

p {
  font-size: 1.875em;
}

.header {
  font-weight: 200;
  margin: 0 0 30px 0;

}

/* Media Query for mobile */
@media screen and (max-width: 800px) {
  img {
    width: 100%; /* Adjusted width for mobile */
  }
}
